$m-color= #2ca1ff;
$title= #1f3353;
$subhead= #233B5F;
$content= #b9bcc3;
$paragraphtext= #5E697A;
$red= #f77f82;
$border= #c1c4c8;
$linear-gradient= linear-gradient(to right, #36b6ff, #1c8fff);

.c-m-color {
  color= $m-color !important;
}
.c-title {
  color= $title !important;
}
.c-subhead {
  color= $subhead !important;
}
.c-content {
  color= $content !important;
}
.c-red {
  color= $red !important;
}
.border {
  border= 1px solid $border;
}

.b-color {
  background-color= $m-color !important;
}
.b-title {
  background-color= $title !important;
}
.b-content {
  background-color= $content !important;
}
.b-red {
  background-color= $red !important;
}
.page-enter-active, .page-leave-active {
  transition= opacity .5s;
}
.page-enter, .page-leave-active {
  opacity= 0;
}
